<!-- Courses Component and Service -->
<!-- <app-courses></app-courses> -->

<!-- Authors Component and Service -->
<!-- <app-authors></app-authors> -->


<!-- ngModel [app.component.ts] -->
<!-- <input [(ngModel)]="userInput" type="text"/>
<p>{{ userInput | titleCase }}</p> -->


<!--******** Likes Component ****** -->
<!-- <app-likes [is-liked]="post.isStarred" (change)="onFavoriteChanged($event)"></app-likes> -->
`

<!--******** Panel Component ****** -->
<!-- <bootstrap-panel> -->
<!-- ********ng-container******* -->    
  <!-- <ng-container class="heading">
    <h1>Heading New2</h1>
  </ng-container> -->
<!-- ********ng-content******* -->
  <!-- <div class="body">
    <h2>Body New</h2>
    <p>Some content here...</p>
  </div>
</bootstrap-panel> -->


<!--******** Heart Component ****** -->
<!-- <app-heart [heartData]="heart"></app-heart> -->


<!--******** ngIf [app.component.ts] ****** -->
<!-- ********Option 1******* -->    
<!-- <div *ngIf="courses.length > 0">
  List of courses
</div> 
<div *ngIf="courses.length == 0">
  No courses yet
</div> -->
<!-- ********Option 2******* -->    
<!-- <div *ngIf="courses.length > 0; else noCourses">
  List of courses
</div> 
<ng-template #noCourses>
  No courses yet
</ng-template> -->
<!-- ********Option 3******* --> 
<!-- <div *ngIf="courses.length > 0; then yesCourses else noCourses"></div>
<ng-template #yesCourses>
  List courses
</ng-template>
<ng-template #noCourses>
  No courses yet
</ng-template> -->


<!-- *****ngSwitchCase  [app.component.ts]***** -->
<!-- <ul class="nav nav-pills">
  <li class="nav-item" (click)="viewMode = 'map'">
    <a class="nav-link" 
      [class.active]="viewMode == 'map'" 
      href="#">Map View</a>
  </li>
  <li class="nav-item" (click)="viewMode = 'list'">
    <a class="nav-link" 
      [class.active]="viewMode == 'list'" 
      href="#">List View</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Default View</div>
</div> -->


<!-- *****ngFor, ngFor Change Detection, ngFor trackBy, Leading Asterisk, ngClass, ngStyle [app.component.ts]***** -->
<!-- <button class="btn btn-light" (click)="loadMenu()">
  Load Menu
</button>
<button class="btn btn-primary" (click)="addItem()">
  Add Item
</button>
<hr/>
<ul>
  <li *ngFor="let meal of meals; index as i; even as isEven; trackBy: trackMeals"> -->

    <!-- <h1 *ngIf="isEven" style="background: #ddd;">{{ i + 1 }}. {{ meal.entree }} (even)</h1>
    <h1 *ngIf="!isEven">{{ i + 1 }}. {{ meal.entree }} (not even!)</h1> -->
    <!-- <h1 [ngClass]="{'grayBox': isEven, 'blankBox': !isEven}">{{ i + 1 }}. {{ meal.entree }}</h1>

    <p>{{ meal.appetizer }}</p>
    <p>{{ meal.dessert }}</p>

    <button [ngStyle]="{ 
              'backgroundColor': meal.canRemove ? 'red':'gray',
              'color': meal.canRemove ? 'black': 'white'
            }" (click)="removeItem(i)">Remove</button>
  </li>
</ul> -->


<!-- *****Safe Traversal Operator [app.component.ts] ***** -->
<!-- <span>{{ task.assignee?.name }} </span> -->


<!-- ***** Custom Directives [input-format.directive.ts] ***** -->
<input type="text" appInputFormat/>
